<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AnimationTest.plist
   iOSTrain

   Created by binyu on 2017/8/27.
   Copyright (c) 2017年 binyu. All rights reserved.
-->
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYUIAnimationViewController</string>
                <key>name</key>
                <string>UIView动画</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYQuartsCoreTestViewController</string>
                <key>name</key>
                <string>QuartsCore</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYQuartsCoreTest2ViewController</string>
                <key>name</key>
                <string>QuartsCore1</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYQuartsCoreTest3ViewController</string>
                <key>name</key>
                <string>QuartsCore2</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYCALayerTest1ViewController</string>
                <key>name</key>
                <string>CALayer</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYCoreAnimationTestViewController</string>
                <key>name</key>
                <string>核心动画</string>
            </dict>
        </array>
    </array>
</plist>
