<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>创建型模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>工厂方法模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>工厂方法模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>抽象工厂模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>单例模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>建造者模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>原型模式</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>结构型模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>适配器模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>装饰器模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>代理模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>外观模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>桥接模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>组合模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>享元模式</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>行为型模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYStrategyPatternViewController</string>
                <key>name</key>
                <string>策略模式></string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>模板方法模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>观察者模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>迭代子模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>责任链模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>命令模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>备忘录模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>状态模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>访问者模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>中介者模式</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>解释器模式</string>
            </dict>
        </array>
    </array>
</plist>

