<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYPthreadTestViewController</string>
                <key>name</key>
                <string>Plist</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYPthreadTestViewController</string>
                <key>name</key>
                <string>XML解析</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>preference</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>NSKeyedArchiver(归档)</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>沙河目录</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>SQLite 3</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>CoreData</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>NSCache</string>
            </dict>
        </array>
    </array>
</plist>



