<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYRACTestViewController</string>
                <key>name</key>
                <string>TEST</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYRACTest2ViewController</string>
                <key>name</key>
                <string>RAC MVVM LOGIN</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYAFNDmeoViewController</string>
                <key>name</key>
                <string>AFNetwork</string>
            </dict>
        </array>
    </array>
</plist>



