<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYUIViewTrainingViewController</string>
			<key>name</key>
			<string>UI基础</string>
		</dict>
        <dict>
            <key>controller</key>
            <string>BYUIViewDefindViewController</string>
            <key>name</key>
            <string>自定义UI</string>
        </dict>

	</array>
    <array>
        <dict>
            <key>controller</key>
            <string>BYLayoutViewController</string>
            <key>name</key>
            <string>自动布局</string>
        </dict>
    </array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYAnimationTestViewController</string>
			<key>name</key>
			<string>核心动画</string>
		</dict>
	</array>
</array>
</plist>
