<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>三方框架</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYRACTestViewController</string>
                <key>name</key>
                <string>ReactiveCocoa</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYAFNDmeoViewController</string>
                <key>name</key>
                <string>AFNetwork</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>SDWebImage</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYWEEKDemoViewController</string>
                <key>name</key>
                <string>WEEK</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>系统框架</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYRACTestViewController</string>
                <key>name</key>
                <string>ReactiveCocoa</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>读书笔记</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>《Objectie-C编程全解》</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYRACTestViewController</string>
                <key>name</key>
                <string>《》</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>博客整理</string>
            </dict>
            <dict>
                <key>controller</key>
                <string></string>
                <key>name</key>
                <string>《Objectie-C编程全解》</string>
            </dict>
        </array>
    </array>
</plist>



