<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYObjectiveCQuestionViewController</string>
			<key>name</key>
			<string>Objective-C面试题</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYOOPViewController</string>
			<key>name</key>
			<string>面向对象特征</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYFoundationTestViewController</string>
			<key>name</key>
			<string>Foundation框架</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYThreadViewController</string>
			<key>name</key>
			<string>线程总结</string>
		</dict>
		<dict>
			<key>controller</key>
			<string>BYNetworkViewController</string>
			<key>name</key>
			<string>网络请求</string>
		</dict>
		<dict>
			<key>controller</key>
			<string>BYSDWebImageViewController</string>
			<key>name</key>
			<string>图片缓存</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>controller</key>
			<string>BYDataCacheViewController</string>
			<key>name</key>
			<string>数据持久化</string>
		</dict>
	</array>
</array>
</plist>
