<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYPthreadTestViewController</string>
                <key>name</key>
                <string>Pthread</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSThreadTestViewController</string>
                <key>name</key>
                <string>NSThread</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYGCDTestViewController</string>
                <key>name</key>
                <string>GCD框架</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYGCDTest1ViewController</string>
                <key>name</key>
                <string>GCD--常用方法</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>controller</key>
                <string>BYNSOperationTestViewController</string>
                <key>name</key>
                <string>NSOperation</string>
            </dict>
            <dict>
                <key>controller</key>
                <string>BYNSOperationDefineTestViewController</string>
                <key>name</key>
                <string>NSOperation自定义</string>
            </dict>
        </array>
    </array>
</plist>

